# FTP Deploy
FTP_HOST=ftp.twojadomena.pl
FTP_PORT=21
FTP_USER=user@twojadomena.pl
FTP_PASSWORD=twoje_haslo
FTP_REMOTE_ROOT=/public_html
DEPLOY_URL=https://twojadomena.pl
SECRET_KEY=wygeneruj_lokalnie

# Google Reviews (opcjonalne)
GOOGLE_PLACES_API_KEY=
GOOGLE_PLACE_ID=
